#How to notify about changes. Growl notification is currently configured.
notification.command = growlnotify -name ${name} -m ${status} -s --image ${image}

#In linux where libnotify-bin is available:
#notification.command = notification-send "${name}" "${status}"

#Pull when checking for updates?
auto.pull = 1

#Notify when new branch appears?
notify.new.branch = 1

#Maximum number of new commits to show
max.new.commits = 5

#Maximum number of files to show in commit info. 0 is unlimited.
max.files.info = 3

#A variable which will be substituted below. You can have many of these
repos.root = ~/Dvelopment/repos

#Repository definitions

#repo-name.name = Repo Name (optional)
#repo-name.path = /path/to/repo

gitmon.name = GitMon Repo
gitmon.path = ~/Development/python/gitmon

repo-x.name = Repo X
repo-x.path = ${repos.root}/repo-x

repo-y.path = ${repos.root}/repo-y
