#How to notify about changes. Growl notification is currently configured.
notification.command = growlnotify -name ${name} -m ${status}
auto.pull = 0

#Notify when new branch appears?
notify.new.branch = 0

#Repository definitions

#repo-name.name = Repo Name
#repo-name.path = /path/to/repo

#Don't forget to update 'monitor' when adding new definitions below

gitmon.name = GitMon Repo
gitmon.path = ~/Development/python/gitmon

repo-x.name = Repo X
repo-x.path = /path/to/repo-x